<manifest>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <service
      android:name="expo.modules.audiospike.RecordingService"
      android:exported="false"
      android:foregroundServiceType="microphone" />
  </application>
</manifest>
